{% extends 'events/base.html' %}

{% block content %}
<center>
<h1 style="color: #000080;">Locations</h1>
</center>


<br/>
<center>
    <table class="table table-bordered table-striped table-hover table-dark">
{% for location in location_list %}
    <tr>

    <td><a href="{% url 'show-location' location.id %}">
        {{ location }}</a> 
        </td>
        <td align="right">
            <a href="{% url 'update-location' location.id %}"
            class="btn btn-outline-secondary btn-sm">Update</a>

            <a href="{% url 'delete-location' location.id %}"
            class="btn btn-outline-danger btn-sm">Delete</a>
        </td>

    </tr>
{% endfor %}
    </table>
</center>

{% endblock %}